<ul>
  <% @bonuses.each do |bonus| %>
      <li>
      <% if bonus[:answered] %>
        <p class="bonus_answered"><b><%= "#{(bonus[:award] || 0) > 0 ? "#{bonus[:name]}: нагорода #{seconds_to_string(bonus[:award])}" : "#{bonus[:name]}: виконано"}" %></b></p>
        <%= bonus[:help].html_safe %>
      <% else %>
        <p class="bonus"><b><%= bonus[:name] %></b></p>
        <%= bonus[:task].html_safe %>
      <% end %></li>
      <br>
  <% end %>
</ul>