<div id="LevelSectorsContainer">
  <ul>
    <% sectors.each do |sector| %>
        <li id="sector-<%= sector[:position] %>"><%= "#{sector[:name]}: #{sector[:value]}".html_safe %></li>
    <% end %>
  </ul>
</div>
