<% if hints.empty? %>
    <em>Підказок немає</em>
<% else %>
    <% hints.each do |hint| %>
        <p>
          <em>Через</em> <strong><%= link_to hint.delay_in_minutes, edit_game_level_hint_path(hint.level.game, hint.level, hint) unless @level.game.started? %></strong> <em>хвилин:</em>
          <em>
            <%= link_to "(редагувати)", edit_game_level_hint_path(hint.level.game, hint.level, hint) unless @level.game.started? %>
            <%= link_to "(видалити)", game_level_hint_path(hint.level.game, hint.level, hint), method: :delete, data: { confirm: 'Ви впевнені?' } unless @level.game.started? %>
          </em>
        </p>
        <p>
          <%= hint.text.html_safe %>
        </p>
        <br />
    <% end %>
<% end %>