<% if game_entry %>
  <% case game_entry.status %>
  <% when "accepted" %>
    <div id="playButton"><%= link_to "Вхід у гру", url_for("/play/#{game.id}") %></div>
  <% else %>
    Ви не зареєстровані
  <% end %>
<% end %>
