<input class="time-hours form-control form-control-sm" type="number" min="0" max="9999" value="0">
<label class="time-form-label col-form-label">год</label>
<input class="time-minutes form-control form-control-sm" type="number" min="0" max="59" value="0">
<label class="time-form-label col-form-label">хв</label>
<input class="time-seconds form-control form-control-sm" type="number" min="0" max="59" value="0">
<label class="time-form-label col-form-label">с</label>