<% level.questions.each do |question| %>
  <p>
    <%= question.name %>
    <% if question.team.nil? %>
        <em> (для всіх)</em>
    <% else %>
        <em> (для <%= question.team.name %>)</em>
    <% end %>
  </p>
  <p>
    <% question.answers.each do |answer| %>
        <%= answer.value %>
        <% if answer.team.nil? %>
            <em> (для всіх)</em>
        <% else %>
            <em> (для <%= answer.team.name %>)</em>
        <% end %>
    <% end %>
  </p>
<% end %>