<% bonuses.each do |bonus| %>
  <p>
    <%= bonus.name %>
    <% if bonus.team.nil? %>
        <em> (для всіх)</em>
    <% else %>
        <em> (для <%= bonus.team.name %>)</em>
    <% end %>
  </p>
  <p>
    <% bonus.bonus_answers.each do |answer| %>
        <%= answer.value %>
        <% if answer.team.nil? %>
            <em> (для всіх)</em>
        <% else %>
            <em> (для <%= answer.team.name %>)</em>
        <% end %>
    <% end %>
  </p>
<% end %>