<% hints.each do |hint| %>
  <p>
    <%= "Для #{ hint.team.nil? ? 'всіх' : hint.team.name}:" %>
  </p>
  <p>
    <%= "через #{hint.delay_in_minutes} хв" %>
  </p>
  <p>
    <%= hint.text.html_safe %>
  </p>
  <br>
<% end %>