<% hints.each do |hint| %>
  <p>
    <%= "Для #{ hint.team.nil? ? 'всіх' : hint.team.name}:" %>
  </p>
  <p>
    <%= "через #{seconds_to_string(hint.delay || 0)}" %>
  </p>
  <p>
    <%= hint.text.html_safe %>
  </p>
  <br>
<% end %>