<p>Вітаю, <%= @resource.email %>!</p>

<p>Хтось зробив запит для зміни Вашого пароля. Ви можете зробити це за посиланням нижче.</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо це були не Ви - проігноруйте цей лист.</p>
<p>Ваш пароль не змінюватиметься, доки Ви не перейдете за наведеним вище посиланням та не створите новий.</p>
