<header id="header-container">
  <div id="header">
    <span>
      Група проекту: <a href="https://t.me/questwtf">@questwtf</a>. Квести на замовлення: Гонтар Лідія 067-638-44-69, tg: <a href="https://t.me/LidaGontar">@LidaGontar</a>. Технічна підтримка: Новосад Василь (Fr1end) 050-378-48-31, tg: <a href="https://t.me/Fr1end_w0lf">@Fr1end_w0lf</a>
    </span>
  </div>
</header>