<%= link_to image_tag("logo.jpg", class: 'quest-logo'), "/", class: "home-link" %>

<span>Група проекту: <a href="https://t.me/questwtf">@questwtf</a>. Орг проекту: Новосад Василь (Fr1end) 050-378-48-31, tg: @Fr1end_w0lf</span>