<div class="logo">
  <%= link_to image_tag("quest_wtf_logo.png", class: 'quest-logo'), "/", class: "home-link" %>
</div>
<div class="contacts">
  <span>Група проекту: <a href="https://t.me/questwtf">@questwtf</a>. Орг проекту: Новосад Василь (Fr1end) 050-378-48-31, tg: <a href="https://t.me/Fr1end_w0lf">@Fr1end_w0lf</a>. Квести на замовлення: Гонтар Лідія 067-638-44-69, tg: <a href="https://t.me/LidaGontar">@LidaGontar</a></span>
</div>